.detail__container{
    position: relative;
    margin: 70px auto 0;
    min-height: 1500px;
    button{
        cursor: pointer;
    }
    .product__head{
        display: block;
        width: 100%;
        font: 500 16px/16px $noto;
        color: #000000;
        margin: 10px 0;
        padding: 20px 0;
        border-top: 1px solid #cccccc;
        text-align: left;
        &.border-none{
            border-top: 0;
        }
    }
    @include after();
    // 상품 이미지
    .product-image{
        display: inline-block;
        width: 55%;
        vertical-align: top;
        img{
            width: 100%;
        }
    }
    // 상품 정보
    .product-information{
        vertical-align: top;
        display: inline-block;
        width: calc(35% - 50px);
        padding: 20px 0 20px 50px;
        form{
            span.category{
                display: block;
                font: 300 16px/16px $noto;
                color: #000000;
                margin-bottom: 15px;
            }
            .product__title{
                font: 500 28px/28px $noto;
                color: #111111;
                margin: 0 0 30px 0;
            }
            ul[class*=options]{
                min-width: 574px;
                margin: 20px 0;
                cursor: pointer;
            }
            .product-size{
                @include after();
                li{
                    float: left;
                    width: calc(20% - 15px);
                    padding: 15px 0;
                    margin: 3px 2.5px;
                    font: 500 15px/15px $noto;
                    color: #000000;
                    text-transform: uppercase;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    text-align: center;
                    &:hover{
                        border: 1px solid #000000;
                    }
                    &.active{
                        position: relative;
                        background: #000000;
                        color: #ffffff;
                        &::after{
                            display: block;
                            clear: both;
                            content:'';
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            border-bottom: 2px solid #000000;
                            box-sizing: border;
                        }
                    }
                }
                @media screen and (max-device-width: 414px) {
                    width: 100%;
                    min-width: unset;
                    li{
                        width: calc(33.3% - 15px);
                    }
                }
            }
            .product-color{
                @include after();
                min-width: 350px;
                li{
                    float: left;
                    width: calc(15% - 15px);
                    padding: 10px 0;
                    margin: 0 2.5px;
                    font: 400 16px/16px $noto;
                    color: #000000;
                    text-transform: uppercase;
                    border: 1px solid #ffffff;
                    text-indent: -9999px;
                    &:nth-child(4){
                        clear: both;
                    }
                    &:hover{
                        border: 1px solid #000000;
                    }
                    &.active{
                        position: relative;
                        border: 1px solid #000000;
                        &::after{
                            display: block;
                            clear: both;
                            content:'';
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            border-bottom: 2px solid #000000;
                            box-sizing: border;
                        }
                    }
                    @media screen and (max-device-width: 414px) {
                        width: calc(20% - 15px);
                    }
                }
            }
            .product-quantity{
                &.exceeded{
                    &::after{
                        display: block;
                        content: '10개까지 구매 가능합니다.';
                        clear: both;
                        color: red;
                        white-space: nowrap;
                    }
                }
                .product__head{
                    width: auto;
                    display: inline-block;
                }
                .product-quantity__wrapper{
                    display: inline-block;
                    div,span{
                        display: inline-block;
                        text-align: left;
                    }
                    em{
                        text-align: center;
                        display: inline-block;
                        min-width: 80px;
                    }
                    .counting{
                        width: 20px;
                        height: 20px;
                        border: none;
                        background: none;
                        font: 300 25px/25px $noto;
                        color: #111111;
                        padding: 10px;
                        text-align: center;
                        cursor: pointer;
                        &.inactive{
                            color: #cccccc;
                        }
                    }
                }
            }
            .product__price{
                margin: 1rem 0;
                span{
                    font: 400 25px/25px $noto;
                }
            }
            .product-cart{
                width: 70%;
                max-width: 300px;
                background: #111111;
                border: 0;
                font: 400 16px/55px $noto;
                height: 55px;
                color: #ffffff;
                margin: 20px 0 10px;
                border-radius: 100px;
                &:hover{
                    background: #202020;
                }
            }
        }
        .product-description{
            width: 100%;
            .product-description__body{
                font: 400 14px/25px $noto;
                color: #000000;
                margin: 20px 0 40px;
                white-space: pre-line;
            }
        }
        .product-preview{
            .product__head{
                cursor: pointer;
            }
            .more-review, .add-review{
                display: inline-block;
                font: 400 12px/12px $noto;
                color: #000000;
                text-decoration: underline;
                padding: 0;
                margin: 10px 5px;
            }
            .preview{
                margin: 25px 0;
                >div{
                    margin: 30px 0;
                    .preview__head{
                        >div{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .userId{
                            margin: 0 10px 0 20px;
                        }
                        .userId, .date{
                            font: 400 12px/12px $noto;
                            color: #6d6d6d;
                        }
                    }
                    .preview__body{
                        font: 400 14px/18px $noto;
                        color: #000000;
                        margin-top: 10px;
                        white-space: pre-line; 
                        width: 50%;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                    }
                }
            }
        }
    }
    @media screen and (max-device-width: 414px) {
        padding: 1rem;
        min-height: unset;
        .product-image{
            float: none;
            width: 100%;
        }
        .product-information{
            float: none;
            width: 100%;
            padding-left: 0;
        }
    }
}
