.review__container{
    position: relative;
    .review__wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow-y: auto;
        border: 1px solid #cccccc;
        background: #ffffff;
        z-index: 3;
        .review__nav{
            display: flex;
            justify-content: end;
            position: fixed;
            top: 0;
            width: 100%;
            border-bottom: 1px solid #d8d8d8;
            background: #ffffff;
            padding: 1rem;
            text-align: right;
            box-sizing: border-box;
            z-index: 2;
            >div, h2, .close{
                flex-basis: 33.3%;
                vertical-align: middle;
            }
            >div{
                text-align: left;
                white-space: nowrap;
                .review__head__img{
                    display: inline-block;
                    width: 80px;
                    vertical-align: middle;
                    img{
                        width: 100%;
                    }
                }
                .review__head__info{
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 15px;
                    >span{
                        display: block;
                        font: 300 14px/20px $noto;
                        color: #000000;
                    }
                }
            }
            h2{
                text-align: center;
                font: 300 24px/24px $noto;
                color: #000000;
                margin: 30px 0;
                em{
                    font: 400 26px/26px $noto;
                    color: inherit;
                }
            }
            .close{
                text-align: right;
                background: none;
                border: 0;
                font-size: 18px;
                z-index: 4;
            }
            @media screen and (max-device-width: 414px) {
                h2{
                    display: none;
                }
            }
        }
        .review__contents{
            width: 60%;
            margin: 0 auto;
            .review__item{
                min-height: 300px;
                padding: 25px 15px;
                margin: 20px 0;
                border-top: 1px solid #cccccc;
                @include after();
                .review__head{
                    .delete{
                        float: right;
                        background: none;
                        border: 0;
                    }
                    .userId, .date{
                        display: inline-block;
                        font: 400 12px/12px $noto;
                        color: #6d6d6d;
                        margin-top: 20px;
                        &.date{
                            margin: 0 10px 0 20px;
                        }
                    }
                }
                .review__body{
                    margin-top: 20px;
                    >img{
                        display: block;
                        width: 130px;
                    }
                    .comment{
                        font: 400 16px/20px $noto;
                        color: #111111;
                        margin-top: 20px;
                        white-space: pre-line;
                    }
                }
            }
            @media screen and (max-device-width: 414px) {
                width: 100%;
                margin: 0 auto;
                .review__item{
                    .review__body{
                        .comment{
                            white-space: pre-line;
                        }
                    }
                }
            }
        }
        .pagination__container{
            padding: 0 0 80px 0;
            @media screen and (max-device-width: 414px) {
                position: fixed;
                bottom: 0;
                width: 100%;
                padding: 20px 0 80px 0;
                background: #ffffff;
            }
        }
    }
    .review__wrapper::-webkit-scrollbar {
        width: 2px;
    }
    .review__wrapper::-webkit-scrollbar-thumb {
        background: #cccccc;
    }
    .review__wrapper::-webkit-scrollbar-track {
        background: #ffffff;
    }
}