$noto: 'Noto Sans KR';
$ctct: translate(-50%,-50%); 
$ctX: translateX(-50%);
$ctY: translateY(-50%);
// 앱솔루트 포지셔닝.
@mixin center ( $top, $bottom, $left, $transform: none, $marginLeft: auto ) {
	position: absolute;
	top: $top;
	bottom: $bottom;
	left: $left;
    transform: $transform;
    margin-left: $marginLeft;
}

@mixin after() {
	&::after{
		display: block;
		content: '';
		clear: both;
	}
}

@mixin w1190() {
	width: 1190px;
	margin: 0 auto;
}