.progress-bar__container{
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    // transition: inherit;
    div{
        width: 1px;
        height: 2px;
        background: red;
        // transition: inherit;
    }
}