.complete-order__container{
    .complete-order__wrapper{
        width: 40%;
        margin: 0 auto;
        text-align: left;
        padding: 200px 0;
        white-space: pre-wrap;
        h2, p, span, em{
            color: #000000;
            display: block;
        }
        p, span{
            margin: 20px 0;
        }
        h2{
            font: 700 50px/65px $noto;
            margin-bottom: 50px;
        }
        p{
            font: 400 16px/16px $noto;
        }
        span{
            font: 400 16px/16px $noto;
        }
        em{
            font: 400 16px/16px $noto;
            b{
                font: 500 23px/23px $noto;
            }
        }
        @media screen and (max-device-width: 414px) {
            width: 100%;
            padding: 2rem 1rem 5rem 1rem;
        }
    }
}