section{
    position: relative;
}
main{
    overflow: hidden;
    .contents__container{
        width: 90%;
        min-width: 90%;
        margin: 0 auto 150px;
        @media screen and (max-device-width: 414px) {
            width: 100%;
            min-width: unset;
            margin-top: 0;
        }
    }
}
