.category-menu__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    background: rgba(245,245,247,1);
    text-align: center;
    width: 100%;
    &.fixed{
        position: fixed;
        top: 49px;
        z-index: 2;
    }
    .category-menu__wrapper{
        width: 450px;
        .category-menu{
            display: inline-block;
            font: 400 14px/14px $noto;
            color: #5e5e5e;
            letter-spacing: 1px;
            padding: 20px 0;
            width: 25%;
            transition: all 0.1s;
            &:hover{
                color: #06c;
            }
        }
    }
    @media screen and (max-device-width: 414px) {
    }
}