.home__container{
    width: 95%;
    margin: 0 auto 150px;
    img{
        width: 100%;
    }
    .home__list-items{
        width: 60%;
        margin: 0 auto;
        @media screen and (max-device-width: 414px) {
            width: 100%;
        }
        ul{
            h1{
                font: 400 23px/23px $noto;
                color: #111111;
                margin: 100px 0 30px 0;
                text-align: center;
            }
            @include after();
            li{
                width: calc(33.3333% - 10px);
                float: left;
                text-align: center;
                margin: 0 5px;
                a{
                    text-decoration: none;
                    color: #111111;
                    font: 400 15px/35px $noto;
                }
            }
        }
    }
}