.delete-form__container{
    width: 400px;
    margin: 50px auto 100px;
    form{
        display: flex;
        margin: 10px 0;
        label{
            font-size: 0;
        }
        .custom-input{
            width: 200px;
        }
        .custom-button{
            width: 150px;
            margin-left: 10px;
        }
    }
}