.post-form__container{
    width: 350px;
    margin: 50px auto 100px;

    h2, h3{
        font: 500 30px/30px $noto;
        color: #111111;
        margin: 50px 0 20px;
    }
    form{
        >div{
            margin: 10px 0;
            label{
                font-size: 0;
            }
            input, textarea{
                width: 350px;
            }
            textarea{
                height: auto;
            }
        }
        .custom-button{
            width: 350px;
        }
        .color{
            padding: 10px 0;
            input{
                display: inline-block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 0;
                text-indent: -9999px;
                margin: 0 5px;
                cursor: pointer;
                &.active{
                    border: 3px solid #000;
                }
            }
        }
    }

}