.about__container{
    background: #ffffff;
    margin: 100px auto;
    h2, h3, p, span, em{
        color: #111111;
    }
    h2, h3, p{
        font: 500 16px/16px $noto;
        text-align: center;
    }
    p, span{
        display: block;
        font: 400 14px/21px $noto;
        white-space: pre-line;
        text-align: center;
        em{
            font-weight: 500;
        }
    }
    >div{
        width: 700px;
        margin: 0 auto;
        @media screen and (max-device-width: 414px) {
            padding: 0 1rem;
            width: auto;
        }
    }
    .about__us{
        p{
            margin: 20px 0;
        }
    }
    .about__contact{
        >div{
            margin: 20px 0;
        }
    }
}