.cart__container{
    width: 100%;
    margin: 0 auto 150px;
    .cart__head{
        text-align: center;
        margin: 30px 0;
        h2{
            font: 500 28px/28px $noto;
            color: #111111;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    >h3{
        font: 400 14px/14px $noto;
        color: #999;
        text-align: center
    }
    @include after();
    .cart__main{
        width: 70%;
        margin: 0 auto;
        float: left;
        .cart__check-all{
            border-top: 1px solid #e5e5e5;
            margin: 30px 5px 0 0;
            padding: 20px 30px 10px;
            input{
                margin-right: 5px;
            }
            label{
                font: 400 14px/14px $noto;
                color: #111111;
            }
        }
        .cart__item{
            font: 400 14px/14px $noto;
            color: #111111;
            border-top: 1px solid #e5e5e5;
            padding: 18px 30px;
            margin: 10px 0;
            @include after();
            .cart__item__inner{
                float: left;
                width: 100%;
                @include after();
                .cart-image{
                    float: right;
                    width: 100px;
                    border: 1px solid #e5e5e5;
                    z-index: 2;
                }
                .cart__item__title{
                    h3{
                        font: 500 16px/16px $noto;
                        margin: 10px 0 15px;
                    }
                }
                >div:not(.cart__item__title){
                    padding: 5px 0;
                    font: 400 14px/14px $noto;
                    span.color{
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        vertical-align: middle;
                    }
                }
            }
        }
        // 삭제 버튼
        .cart-delete{
            float: right;
            cursor: pointer;
            font: 300 16px/16px $noto;
            color: #111111;
            margin: 5px 0;
        }
        @media screen and (max-device-width: 414px) {
            width: 100%;
            min-width: unset;
            float: none;
            .cart__item{
                .cart__item__inner{
                    .cart-image{
                        float: unset;
                    }
                }
            }
        }
    }
    .cart__side{
        float: right;
        position: relative;
        top: 27px;
        width: calc(30% - 32px);
        margin: 0 auto;
        margin-left: 30px;
        border: 1px solid #e5e5e5;
        white-space: pre-wrap;
        h3{
            font: 500 16px/16px $noto;
            color: #111111;
            background-color: #e5e5e5;
            padding: 20px 15px;
        }
        .cart__side__body{
            padding: 20px;
            @include after();
            .shipping-cost{
                display: block;
                font: 400 14px/14px $noto;
                color: #111111;
                margin: 0 0 20px 0;
                span{
                    float: right;
                    em{
                        display: inline-block;
                        font: 500 13px/13px $noto;
                    }
                }
                &.total-price{
                    margin: 20px 0;
                    span{
                        em{
                            font: 500 20px/20px $noto;
                        }
                    }
                }
                &.point{
                    span{
                        em{
                            font: 400 15px/15px $noto;
                            color: #06c;
                        }
                    }
                }
            }
            .custom-button{
                width: 100%;
                height: 50px;
                margin: 25px 0;
                background-color: plum;
                border:0;
                border-radius: 0;
                a{
                    color: #ffffff;
                    letter-spacing: 2px;
                }
                &:hover{
                    background-color: plum;
                }
            }
        }
        @media screen and (max-device-width: 414px) {
            width: 100%;
            top: 5%;
            left: 0;
            margin-left: 0;
        }
    }
    @media screen and (max-device-width: 414px) {
        padding: 0.5rem
    }
}