.cart-popup__container{
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    z-index: 2;
    @keyframes fade-in-right {
        from {
            opacity: 0;
            right: -50%;
        }
        to {
            opacity: 1;
            right: 0%;
        }
    }
    &.activated{
        display: block;
        animation: fade-in-right 0.5s;
        animation-fill-mode: forwards;
        // transition: all 1s ease-in;
        // transition: linear;
    }
    .item{
        padding: 0 0 8px 0;
        div{
            font: 400 14px/14px $noto;
            color: #111111;
            margin: 10px 0;
        }
        span.color{
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: middle;
        }
    }
    .move-to-cart{
        display: inline-block;
        font: 400 14px/35px $noto;
        height: 35px;
        color: #ffffff;
        border: 1px solid #111111;
        padding: 0 20px;
        background: #111111;
    }
}