.list__container{
    padding: 0.3rem;
    a{
        display: inline-block;
        width: 100%;
        .list-image{
            width: 100%;
        }
        .list__description{
            width: 95%;
            @media screen and (max-device-width: 414px) {
                position: relative;
                left: 0.5rem;
            }
            .list__wrapper{
                @include after();
                .list__title, .list__price{
                    display: block;
                    font: 400 14px/14px $noto;
                    color: #111111;
                    text-align: left;
                    margin: 1rem 0;
                    white-space: pre-wrap;
                    word-break: break-all;
                    @media screen and (max-width: 414px) {
                        &.list__title, &.list__price{
                            float: unset;
                        }
                    }
                }
                .list__title{
                    float: left;
                }
                .list__price{
                    float: right;
                }
            }
            .list__options, .list__categories{
                span{
                    font: 300 14px/25px $noto;
                    color: #8d8d8d;
                }
            }
        }
    }
    @media screen and (max-device-width: 414px) {
        padding: 0;
    }
}